<footer class="site-footer">
  <div class="footer-container">
    <!-- Logo à gauche -->
    <div class="footer-left">
      <a href="index.html" class="footer-logo">
        <img
          src="assets/logo/logo-porte-d.webp"
          alt="Logo Porte D – retour à l’accueil"
        />
        <span>Retour à l’accueil</span>
      </a>
    </div>

    <!-- Lien Google à droite -->
    <div class="footer-right">
      <a
        href="https://www.google.com/search?sca_esv=b27cdfc5effed82d&sxsrf=AE3TifNRisN8z8V2_xn-4pJ8eONrkrJXKA:1763713394748&si=AMgyJEtREmoPL4P1I5IDCfuA8gybfVI2d5Uj7QMwYCZHKDZ-E2VtovTCFkr7ufUK0Iv7lXXw2LkYpJMG_hrtfZBlzhhkSvG1CgIyEqu4gGYBh4L7sgIgcMfz83pECxL55NNk2ldoW4bq&q=G%C3%AEte+Porte+D+Avis&sa=X&ved=2ahUKEwiuvISz6IKRAxXYQ6QEHfz8AhsQ0bkNegQILxAE&biw=1291&bih=582&dpr=1.5"
        target="_blank"
        rel="noopener"
        class="google-link"
      >
        <img
          src="assets/pictos/coeur.png"
          alt="Donner un avis – Porte D"
          class="avis-icon"
        />
        <span>Laisser un avis</span>
      </a>
    </div>
  </div>

  <!-- Bas du footer -->
  <div class="footer-bottom">
    <nav class="footer-links">
      <a href="mentions-legales.html">Mentions légales</a>
      <span>·</span>
      <a href="cgu.html">Conditions d’utilisation</a>
      <span>·</span>
      <a href="politique-de-confidentialite.html"
        >Politique de confidentialité</a>
      <span>·</span>
      <a href="faq.html">FAQ</a>
      <span>·</span>
      <a href="https://www.airbnb.fr/rooms/1554947429902802749?viralityEntryPoint=1&s=76&source_impression_id=p3_1763718798_P3FtPf2a7eKhiUQk">Airbnb</a>
    </nav>
    

    <p class="copyright">
      © 2025 Porte D — Créé avec passion par
      <a
        href="https://www.webbycess.fr"
        target="_blank"
        rel="noopener"
        class="libellule-link"
      >
        <img
          src="assets/cecilia/libellule.webp"
          alt="Studio Libellia – Création Web & SEO"
        />
      </a>
    </p>
  </div>
</footer>
