<header class="header">
  <button class="burger" aria-label="Ouvrir le menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav">
    <!-- liens vers la page d’accueil avec ancre -->
    <a href="index.html#esprit">Accueil</a>
    <a href="index.html#espaces">Le gîte</a>
    <a href="index.html#votre-sejour">Votre séjour</a>
  <div class="nav-sub">
    <a href="infos-pratiques.html" class="nav-sub-link">
      Infos pratiques
    </a>
    <a href="tarifs.html" class="nav-sub-link">
      Prix du séjour
    </a>
    <a href="comment-venir.html" class="nav-sub-link">
      Accès
    </a>
  </div>

  <a href="index.html#evasions">Évasions</a>
  <div class="nav-sub">
<a href="saveurs-locales.html" class="nav-sub-link">
      Saveurs locales
    </a>
    <a href="activites-balades.html" class="nav-sub-link">
      Explorer les alentours
    </a>
    <a href="artisans-caves.html" class="nav-sub-link">
      Artisans & caves à vin
    </a>
    <a href="institut-porte-c.html" class="nav-sub-link">
      Institut Porte C
    </a>
  </div>
    <a href="index.html#avis">Témoignages</a>
     <a href="index.html#contact">Demander une reservation</a>
    <a href="faq.html">FAQ</a>

    <!-- Bloc coordonnées -->
    <div class="nav-contact">
      <h3>Coordonnées</h3>
      <a href="mailto:contact@giteported.fr" class="mail"
        >contact@giteported.fr</a
      >
      <a href="tel:+33679486472" class="tel">06 79 48 64 72</a>
      <a
        href="https://maps.google.com/?q=12A+rue+des+Bleuets,+68250+Wickerschwihr"
        target="_blank"
        rel="noopener"
        class="adresse"
      >
        12 A rue des Bleuets, 68320 Wickerschwihr
      </a>
    </div>
  </nav>
</header>






